<% @lists.each do |list| %>
  <% if list.photo.attached? %>
    <div class="card-list" style="background-image: url('<%= cl_image_path list.photo.key, crop: :fill %>')" >
      <%= link_to list.name, list_path(list.id), class: 'card-title'%>
      <%=link_to '', list_path(list.id), class: 'card-link'%>
      <%= link_to 'delete', list_path(list.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'red-link'%>
    </div>
  <% else %>
    <div class="card-list" style="background-image: url('../../assets/images/no_image.jpeg')" >
      <%= link_to list.name, list_path(list.id) %>
      <%= link_to 'delete', list_path(list.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'red-link'%>
    </div>
  <% end %>
<% end %>
