<div class="banner">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
  <div class="btn btn-warning">TODO movie count</div>
  <%= link_to 'Back to lists', lists_path, class: 'btn btn-primary' %>
</div>

<div class="container">
  <%= link_to 'Add Movie', new_list_bookmark_path(@list), class: 'btn btn-success' %>
  <div class="cards-container">
    <% if @bookmarks.empty? %>
      <h3>Empty</h3>
    <% else %>
      <% @bookmarks.each do | bookmark | %>
        <div class="card-movie">
          <h3><%= bookmark.movie.title %></h3>
          <p><%= bookmark.movie.rating %></p>
          <p><%= bookmark.movie.overview %></p>
          <%= link_to  bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } do%>
            <div class="btn btn-danger">delete</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
